.git
.gitignore
.phpunit.result.cache
.env
.env.backup
.env.*
node_modules
public/hot
public/storage
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/logs/*
bootstrap/cache/*
vendor
docker-compose*.yml
Dockerfile*
.dockerignore
README.md
EasyStock.postman_collection.json
